@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Titillium+Web:wght@200&display=swap');
main{
   background-color:{
      color: transparent;
      repeat: no-repeat;
      attachment: fixed;
      position: top-left;
      background-color: $primary-color;
      color: $secondary-color;
   }
}

Header{
   h1{
      h2{
         color: $primary-color;
         border: 10px solid lighten($primary-color, 40%);
         margin: 30px;
         padding: 30px;
      }
   }
}